<section class="relogios">
    <div class="relogio__box">
        <div (click)="manipularRelogio(1)" class="relogio relogio__acima" #acima>
            <span style="display: block;width: 100%;">{{tempoBrancasFormatado}}</span>
        </div>
        <div class="relogio__opcoes">
            <i class="fa-solid fa-clock-rotate-left" (click)="reiniciarRelogio()"></i>
            <i class="fa-solid fa-pause" (click)="pararRelogio()"></i>
            <i class="fa-solid fa-stopwatch" (click)="abrirTempoDialog()"></i>
            
        </div>
        <div (click)="manipularRelogio(2)" class="relogio" #abaixo>
            <span style="display: block;width: 100%;">{{tempoNegrasFormatado}}</span>
        </div>
    </div>
</section>
