<header class="menu">
    <nav class="menu__box">
        <div class="menu__padrao">
            <div class="box__logo">
                <a href=""><img src="../assets/img/xnp2.png" alt="" class="logo"></a>
            </div>
            <ul class="menu__links">
                <li class="menu__link"><a class="link" routerLink="">Inicio</a></li>
                <li class="menu__link"><a class="link" routerLink="relogio">Relógio</a></li>
                <li class="menu__link"><a class="link" routerLink="">Imagens</a></li>
                <li class="menu__link"><a class="link" routerLink="">Torneios</a></li>
            </ul>
        </div>        

        <div class="menu__hamburguer">
            <input id="menu-hamburguer" type="checkbox" />            

            <label for="menu-hamburguer">
                <div class="menu__responsivo">
                    <span class="hamburguer"></span>
                </div>
            </label>
        </div>        
    </nav>
</header>

<section>
    <router-outlet></router-outlet>
</section>
<footer>
    <div class="footer__box">
        <div>
            <img src="../assets/img/xnp.png" alt="">
        </div>
        <div>
            <ul>
                <li class="footer__topico-titulo">Xadrez no Praça</li>
                <li class="footer__topico-item icone icone-insta">                  
                    <a href="https://instagram.com/xadreznopraca" target="_blank">Fale conosco</a>
                </li>
            </ul>
        </div>
    </div>    
</footer>