<header class="header">
    <nav class="nav">
        <div>
            <a href=""><img src="../assets/img/xnp2.png" alt="" class="logo"></a>
        </div>
        <ul class="ul">
            <li class="li"><a class="link" routerLink="">Inicio</a></li>
            <li class="li"><a class="link" routerLink="">Relógio</a></li>
            <li class="li"><a class="link" routerLink="">Imagens</a></li>
            <li class="li"><a class="link" routerLink="">Torneios</a></li>
        </ul>
    </nav>
</header>

<section>
    <router-outlet></router-outlet>
</section>
<footer>
    <div class="footer__box">
        <div>
            <img src="../assets/img/xnp.png" alt="">
        </div>
        <div>
            <ul>
                <li class="footer__topico-titulo">Xadrez no Praça</li>
                <li class="footer__topico-item icone icone-insta">                  
                    <a href="https://instagram.com/xadreznopraca" target="_blank">Fale conosco</a>
                </li>
            </ul>
        </div>
    </div>    
</footer>