<section class="principal">
    <article class="container">
        <div class="principal__box">
            <div>
                <h3 class="h3">Xadrez no Praça</h3>
                <h1 class="h1">Um lugar para se divertir, fazer amizades, ensinar e aprender xadrez!</h1>
            </div>
            <div><img src="../../../assets/img/fundo-de-xadrez-em-gradiente.png" alt="" class="principal__img"></div>
        </div>        
    </article>
</section>

<section class="encontro">
    <article class="container">
        <h2 class="h2">Onde nos encontramos?</h2>
        <div class="encontro__box">
            <ul>
                <li class="encontro__item icone icone-local">Praça Shopping Uberaba; na praça de alimentação</li>
                <li class="encontro__item icone icone-dia">Aos Domingos</li>
                <li class="encontro__item icone icone-hora">A partir das 17h</li>
            </ul>
        </div>
    </article>
</section>

<section class="porque">
    <article class="container">
        <h2 class="h2">Por que jogar Xadrez?</h2>
        <div>
            <div class="porque__itens">
                <div class="porque__item">
                    <h5 class="porque__item-titulo icone icone-saude">Benefícios para a Saúde Mental</h5>
                    <p class="porque__item-texto">Estudos mostraram que jogar xadrez regularmente pode ajudar a melhorar a concentração, a memória, e até mesmo a habilidade de resolver problemas.</p>
                </div>
                <div class="porque__item">
                    <h5 class="porque__item-titulo icone icone-desafio">Desafio Mental</h5>
                    <p class="porque__item-texto">Oportunidade de exercitar e melhorar suas habilidades cognitivas.</p>
                </div>
                <div class="porque__item">
                    <h5 class="porque__item-titulo icone icone-comunidade">Comunidade e Socialização</h5>
                    <p class="porque__item-texto">As pessoas podem se conectar, aprender e competir.</p>
                </div>
                <div class="porque__item">
                    <h5 class="porque__item-titulo icone icone-competicao">Competição</h5>
                    <p class="porque__item-texto">Quem não gosta de ganhar?</p>
                </div>
                <div class="porque__item">
                    <h5 class="porque__item-titulo icone icone-criatividade">Criatividade e Imaginação</h5>
                    <p class="porque__item-texto">O xadrez permite que os jogadores explorem diferentes possibilidades e estratégias.</p>
                </div>
                <div class="porque__item">
                    <h5 class="porque__item-titulo icone icone-tradicao">Tradição e História</h5>
                    <p class="porque__item-texto">O xadrez tem uma longa história que remonta a séculos.</p>
                </div>
            </div>
        </div>        
    </article>
</section>

<section class="objetivo">
    <article class="container">
        <h2 class="h2">Nosso Objetivo</h2>
        <div class="objetivo__box">
            <div>
                <p class="objetivo__subtitulo"><strong>Difundir o xadrez na comunidade.</strong></p>
                <p class="objetivo__texto">O Xadrez não tem muito espaço na cultura brasileira, infelizmente. Prova disso é o fato de que o Xadrez existe a séculos e ainda assim muitas pessoas sequer conhecem o esporte no nosso país. Os pais não ensinam Xadrez aos seus filhos da mesma forma que ensinam Futebol, por exemplo. Muitas escolas também não ensinam nem incentivam a prática do Xadrez, mas fazem isso com outros esportes. E ainda existem aqueles que dizem: "Xadrez é para intelectuais!", bobagem! <strong class="objetivo__subtitulo">O Xadrez é para todos!</strong></p>
                <p class="objetivo__texto">Com isso em mente, queremos derrubar as barreiras que impedem as pessoas de conhecerem e gostarem do xadrez para que esse incrível esporte seja cada vez mais conhecido e praticado pelas pessoas, especialmente pelas crianças.</p>
            </div>
            <div>
                <img src="../../../assets/img/jogadores.jpg" alt="" class="objetivo__img">
            </div>
            
        </div>
    </article>
</section>